torch
transformers>=4.31.0
sentencepiece
huggingface-hub
datasets
accelerate
bitsandbytes
peft
deepspeed
scikit-learn
pandas==2.2.2
numpy==1.26.4
tqdm
scipy
evaluate
rouge-score
bert-score
tensorflow>=2.11.0,<2.13.0
tf-keras
wandb
sentencepiece
pyhealth
openai